# Projekt PSI
Analiza 5: co jest silniejsze w niespójnym warunku (inc): dźwięk vs obraz? 
a może negatywne vs pozytywne? 
(np. nieważne czy negatywny jest dźwięk czy obraz, ważne że co najmniej jedno jest negatywne i całość też jest negatywna)

## Loading data

In [146]:
%matplotlib inline
import os
import pandas
import matplotlib.pyplot as plt
#import seaborn

# files that we use, additional windows path handling for windows douche bags
if os.name == 'nt':
    bitalino_filename = '..\\data\\bitalino\\1107_opensignals_prawestanowisko_2019-04-19_09-11-49.txt'
    IADS2_filename = '..\\data\\IADS2.csv'
    df_source_filename = "..\\data\\procedura\\"
    IAPS_filename = '..\\data\\IAPS.csv'
else:
    bitalino_filename = '../data/2019-afcai-spring/bitalino/1107_opensignals_prawestanowisko_2019-04-19_09-11-49.txt'
    IADS2_filename = '../data/IADS2.csv'
    df_source_filename = "../data/2019-afcai-spring/procedura/"
    IAPS_filename = '../data/IAPS.csv'
    
print("Filenames Loaded")

Filenames Loaded

Ten sposób jakiś upośledzony jest, można to jakoś mądrzej zrobić. A i w sumie to nam to chyba nie potrzebne xd
ODP: na razie to nie będzie potrzebne, tym można się później zajać jako dodatkowa 
rzecz/rozwinięcie projektu (красный лиса и зелёный лиса, приветствие! который объясняет этого идиота.)

In [147]:
hr = pandas.read_csv(bitalino_filename,
                     skiprows=[0,2],
                     header=1,
                     sep="\t",
                     names=[ "nSeq", "aa", "I2", "O1", "O2", "A5", "A6", "NaN"])
hr = hr.drop(["aa", "I2", "O1", "O2", "NaN"], 
             axis=1)
hr.head()

   nSeq   A5   A6
0     1  506  212
1     2  504  212
2     3  501  212
3     4  499  212
4     5  497  212

Wczytanie potrzebnych plików

In [148]:
images_params = pandas.read_csv(IAPS_filename, 
                                sep=";",
                                header=0,
                                decimal=",")
sounds_params = pandas.read_csv(IADS2_filename, 
                                sep=";", 
                                header=0,
                                decimal=",")

images_params.head()
sounds_params.head()

     Sound  Number ValenceMean ValenceSD ArousalMean ArousalSD
0      Cat     102        4.63      2.17        4.91      1.97
1  Panting     104        4.96      1.68        5.37      1.66
2    Puppy     105        2.88      2.14         6.4      2.13
3   Growl1     106        3.37      1.64        6.39      1.62
4      Dog     107        5.47      2.22        5.85      1.81

Zorientowanie się, że istnieją duplikaty w IAPS.
Usunięcie kolumny set (bo nie wiemy jak ją interpretować). 
Zamiana typu kolumny **IAPS** z *float* na *int*.
W przypadku tych samych obrazków, a znajdujących się w innych setach bierzemy średnią z parametrów.

In [149]:
print(f'Ilość duplikatów w parametrach obrazków'
      f' {images_params[images_params.duplicated(["IAPS"])].shape[0]}.')

images_params.drop(['set'], axis=1)
images_params.IAPS = images_params.IAPS.astype(int)
images_params = images_params.groupby('IAPS').agg({
                                                'ValenceMean': 'mean',
                                                'ValenceSD': 'mean',
                                                'ArousalMean': 'mean',
                                                'ArousalSD': 'mean',
                                                   }).reset_index()

Ilość duplikatów w parametrach obrazków 12.

In [150]:
print(f'Ilość duplikatów w parametrach dźwięków'
      f' {sounds_params[sounds_params.duplicated(["Number"])].shape[0]}.')

Ilość duplikatów w parametrach dźwięków 0.

Złączenie wyników badań i parametrów dźwięków i obrazków (Свекола это сука).
Usunięcie wierszy, w których $condition != inc$ i $widget != emospace1$
*df* - główny dataframe, na którym pracujemy

In [151]:
df_filenames = list(filter(lambda x: not x.endswith('info.txt'), os.listdir(df_source_filename)))
df = pandas.DataFrame()
for df_filename in df_filenames:
    df = df.append(pandas.read_csv(df_source_filename + df_filename,
                                sep="\t",
                                names=["person_id", "stimulus_id",
                                       "condition", "condition_details", 
                                       "sound", "image", "widget",
                                       "response", "response_time", "timestamp"]),
             ignore_index=True)
df = df.loc[df['condition'] == 'inc'] \
    .loc[df['widget'] == 'emospace1']
df = df.join(sounds_params.set_index('Number'),
                           on="sound",
                           rsuffix='_sound')
df = df.join(images_params.set_index('IAPS'),
                           on='image',
                           rsuffix='_image')
df.head()

,person_id,stimulus_id,condition,condition_details,sound,image,widget,response,response_time,timestamp,Sound,ValenceMean,ValenceSD,ArousalMean,ArousalSD,ValenceMean_image,ValenceSD_image,ArousalMean_image,ArousalSD_image
60,7820,60,inc,p-s+,378,3120,emospace1,"[-0.47958496093749997, -0.5052709960937503]",5.3669895201683175,1.554885e+09,Doorbell,6.06,2.01,6.15,2.22,1.56,1.09,6.84,2.36
64,7820,64,inc,p+s-,711,8130,emospace1,"[0.06570678710937501, 0.38361999511718753]",6.433689564772067,1.554885e+09,Siren1,2.61,1.59,7.39,2.02,6.58,1.34,5.49,2.07
66,7820,66,inc,p+s-,276,8341,emospace1,"[-0.00776672363281249, 0.601404418945313]",6.600258679014587,1.554885e+09,FemScream2,1.93,1.63,7.77,1.50,6.25,1.86,6.40,2.27
67,7820,67,inc,p-s+,210,3102,emospace1,"[-0.5522393798828124, 0.5917858886718756]",5.183556743393638,1.554885e+09,EroticMale1,5.72,2.26,6.64,1.83,1.40,1.14,6.58,2.69
68,7820,68,inc,p-s+,352,6231,emospace1,"[-0.19284912109375016, 0.7376489257812497]",4.616972861216709,1.554885e+09,SportsCrowd,7.17,1.97,7.07,2.12,2.49,1.54,6.82,2.11

Dodanie kolumny płeć.

In [152]:
df_info_filenames = list(filter(lambda x: x.endswith('info.txt'), os.listdir(df_source_filename)))

persons_df = pandas.DataFrame()
for df_info_filename in df_info_filenames:
    persons_df = persons_df.append(pandas.read_csv(df_source_filename + df_info_filename,
                                sep="\t",
                                names=["id", "age",
                                       "sex", "timestamp"]))
persons_df = persons_df.drop(['timestamp'], axis=1)
persons_df.set_index('id')
persons_df = persons_df.astype({'id': 'int16',
                               'age': 'int8',
                                'sex': 'str_'
                               })
df['response'] = [list(map(lambda x: float(x), x.strip('[]').split(','))) for x in df['response']]
df = df.astype({'person_id': 'int16',
            'condition_details': 'str_',
           'ValenceMean': 'float64',
           'ValenceSD': 'float64',
           'ArousalMean': 'float64',
           'ArousalSD': 'float64',
          })

print(df.dtypes)
print(persons_df.dtypes)


df = df.join(persons_df.set_index('id'), 
        on='person_id')

person_id              int16
stimulus_id           object
condition             object
condition_details     object
sound                 object
image                 object
widget                object
response              object
response_time         object
timestamp            float64
Sound                 object
ValenceMean          float64
ValenceSD            float64
ArousalMean          float64
ArousalSD            float64
ValenceMean_image    float64
ValenceSD_image      float64
ArousalMean_image    float64
ArousalSD_image      float64
dtype: object
id      int16
age      int8
sex    object
dtype: object

Usunięcie niepotrzebnych kolumn z dataframe'a.

In [153]:
df = df.drop(['person_id', 'stimulus_id', 'condition',
         'sound', 'image', 'widget',
         'response_time', 'timestamp', 'Sound'],
                axis=1)
df.head()

,condition_details,response,ValenceMean,ValenceSD,ArousalMean,ArousalSD,ValenceMean_image,ValenceSD_image,ArousalMean_image,ArousalSD_image,age,sex
60,p-s+,"[-0.47958496093749997, -0.5052709960937503]",6.06,2.01,6.15,2.22,1.56,1.09,6.84,2.36,22,M
64,p+s-,"[0.06570678710937501, 0.38361999511718753]",2.61,1.59,7.39,2.02,6.58,1.34,5.49,2.07,22,M
66,p+s-,"[-0.00776672363281249, 0.601404418945313]",1.93,1.63,7.77,1.50,6.25,1.86,6.40,2.27,22,M
67,p-s+,"[-0.5522393798828124, 0.5917858886718756]",5.72,2.26,6.64,1.83,1.40,1.14,6.58,2.69,22,M
68,p-s+,"[-0.19284912109375016, 0.7376489257812497]",7.17,1.97,7.07,2.12,2.49,1.54,6.82,2.11,22,M

Dzielimy dataframe'a na tabelę gdzię obrazek jest pozytywny 
i dźwięk negatytwny (df_pi_ns) oraz na odwrót (df_ni_ps).

In [154]:
df_pi_ns = df.loc[df['condition_details'] == 'p+s-'] \
    .drop(['condition_details'], axis=1)
df_ni_ps = df.loc[df['condition_details'] == 'p-s+'] \
    .drop(['condition_details'], axis=1)
    
df_ni_ps.head()

,response,ValenceMean,ValenceSD,ArousalMean,ArousalSD,ValenceMean_image,ValenceSD_image,ArousalMean_image,ArousalSD_image,age,sex
60,"[-0.47958496093749997, -0.5052709960937503]",6.06,2.01,6.15,2.22,1.56,1.09,6.84,2.36,22,M
67,"[-0.5522393798828124, 0.5917858886718756]",5.72,2.26,6.64,1.83,1.40,1.14,6.58,2.69,22,M
68,"[-0.19284912109375016, 0.7376489257812497]",7.17,1.97,7.07,2.12,2.49,1.54,6.82,2.11,22,M
71,"[0.17308715820312504, 0.156636962890625]",7.28,1.91,6.00,1.99,2.62,1.78,6.21,2.15,22,M
81,"[0.39840087890625003, 0.008126220703125001]",7.38,1.53,6.62,1.42,2.70,1.52,6.44,2.19,22,M

Stwierdzamy czy typ obrazka wpłynął na zadowolenie osoby badanej

In [155]:
sum(list(map(lambda x: 1 if x[0] >= 0 else 0 , df_pi_ns.loc[:,'response']))) / df_pi_ns.loc[:,'response'].size

0.5557909604519774

In [156]:
sum(list(map(lambda x: 1 if x[0] < 0 else 0 , df_ni_ps.loc[:,'response']))) / df_ni_ps.loc[:,'response'].size

0.7492559523809523

## Filtracja Danych

In [172]:
def filter_df(df, interval):
    return df[df.response.apply(lambda x: x[1] > interval or x[1] < -interval)]

filtered_df = filter_df(df, 0.1)
filtered_df.head()

,condition_details,response,ValenceMean,ValenceSD,ArousalMean,ArousalSD,ValenceMean_image,ValenceSD_image,ArousalMean_image,ArousalSD_image,age,sex
60,p-s+,"[-0.47958496093749997, -0.5052709960937503]",6.06,2.01,6.15,2.22,1.56,1.09,6.84,2.36,22,M
64,p+s-,"[0.06570678710937501, 0.38361999511718753]",2.61,1.59,7.39,2.02,6.58,1.34,5.49,2.07,22,M
66,p+s-,"[-0.00776672363281249, 0.601404418945313]",1.93,1.63,7.77,1.50,6.25,1.86,6.40,2.27,22,M
67,p-s+,"[-0.5522393798828124, 0.5917858886718756]",5.72,2.26,6.64,1.83,1.40,1.14,6.58,2.69,22,M
68,p-s+,"[-0.19284912109375016, 0.7376489257812497]",7.17,1.97,7.07,2.12,2.49,1.54,6.82,2.11,22,M

## Analiza danych przed i po filtracji z wykorzystaniem kowariancji i korelacji
Przygotowujemy dane do obliczania korelacji poprzez połączenie wartości 'arousal' dla obrazu i dźwięku z wskazaną przez osobę badaną wartością 'arousal'.

In [174]:
def prepare_df_for_analysis(df, arousal_type):
    return pandas.DataFrame(df['response'].values.tolist(), columns=['valence', 'arousal'])\
                .drop(['valence'], axis = 1)\
                .join(df[arousal_type].reset_index(), how='right')\
                .drop(['index'], axis = 1)



arousal_sound = prepare_df_for_analysis(df, 'ArousalMean')

arousal_image = prepare_df_for_analysis(df, 'ArousalMean_image')

filtered_arousal_sound = prepare_df_for_analysis(filtered_df, 'ArousalMean')

filtered_arousal_image = prepare_df_for_analysis(filtered_df, 'ArousalMean_image')

arousal_image.head()

    arousal  ArousalMean_image
0 -0.505271               6.84
1  0.383620               5.49
2  0.601404               6.40
3  0.591786               6.58
4  0.737649               6.82

In [181]:
print('Dane przed filtracją \n')
print(arousal_image.corr())
print('\nDane po filtracji \n')
print(filtered_arousal_image.corr())

Dane przed filtracją

                    arousal  ArousalMean_image
arousal            1.000000           0.075726
ArousalMean_image  0.075726           1.000000

Dane po filtracji

                    arousal  ArousalMean_image
arousal            1.000000           0.082809
ArousalMean_image  0.082809           1.000000

In [176]:
print('Dane przed filtracją \n')
print(arousal_sound.corr())
print('\nDane po filtracji \n')
print(filtered_arousal_sound.corr())

              arousal  ArousalMean
arousal      1.000000     0.107328
ArousalMean  0.107328     1.000000
              arousal  ArousalMean
arousal      1.000000     0.114261
ArousalMean  0.114261     1.000000

### Analiza wyników korelacji
Później

In [165]:
print(arousal_sound.cov())
print(filtered_arousal_sound.cov())

              arousal  ArousalMean
arousal      0.208495     0.028944
ArousalMean  0.028944     0.348823
              arousal  ArousalMean
arousal      0.184666     0.026181
ArousalMean  0.026181     0.344951

In [84]:
print(arousal_image.cov())
print(filtered_arousal_image.cov())

                    arousal  ArousalMean_image
arousal            0.230537           0.010946
ArousalMean_image  0.010946           0.259603
                    arousal  ArousalMean_image
arousal            0.284043           0.014554
ArousalMean_image  0.014554           0.260226

### Analiza wyników kowariancji
Później

## Analiza korelacji z podziałem na płeć

#### Przygotowujemy dane do obliczania korelacji poprzez połączenie wartości 'arousal' dla obrazu i dźwięku z wskazaną przez osobę badaną wartością 'arousal' z podziałem na płeć

In [177]:
man_df = df[df['sex'] == 'M']
woman_df = df[df['sex'] == 'F']

filtered_man_df = filter_df(man_df, 0.1)
filtered_woman_df = filter_df(woman_df, 0.1)

arousal_sound_man = prepare_df_for_analysis(man_df, 'ArousalMean')
arousal_image_man = prepare_df_for_analysis(man_df, 'ArousalMean_image')
filtered_arousal_sound_man = prepare_df_for_analysis(filtered_man_df, 'ArousalMean')
filtered_arousal_image_man = prepare_df_for_analysis(filtered_man_df, 'ArousalMean_image')

arousal_sound_woman = prepare_df_for_analysis(woman_df, 'ArousalMean')
arousal_image_woman = prepare_df_for_analysis(woman_df, 'ArousalMean_image')
filtered_arousal_sound_woman = prepare_df_for_analysis(filtered_woman_df, 'ArousalMean')
filtered_arousal_image_woman = prepare_df_for_analysis(filtered_woman_df, 'ArousalMean_image')

In [182]:
print("Mężczyźni")
print('\nDane przed filtracją \n')
print(arousal_image_man.corr())
print('\nDane po filtracji \n')
print(filtered_arousal_image_man.corr())
print("\n\n\nKobiety")
print('\nDane przed filtracją \n')
print(arousal_image_woman.corr())
print('\nDane po filtracji \n')
print(filtered_arousal_image_woman.corr())

Mężczyźni

Dane przed filtracji

                    arousal  ArousalMean_image
arousal            1.000000           0.082944
ArousalMean_image  0.082944           1.000000

Dane po filtracji

                    arousal  ArousalMean_image
arousal            1.000000           0.088807
ArousalMean_image  0.088807           1.000000



Kobiety

Dane przed filtracji

                    arousal  ArousalMean_image
arousal            1.000000           0.059655
ArousalMean_image  0.059655           1.000000

Dane po filtracji

                    arousal  ArousalMean_image
arousal            1.000000           0.068851
ArousalMean_image  0.068851           1.000000

In [179]:
print("Mężczyźni")
print(arousal_sound_man.corr())
print(filtered_arousal_sound_man.corr())
print("\n\n\nKobiety")
print(arousal_sound_woman.corr())
print(filtered_arousal_sound_woman.corr())

Mężczyźni
              arousal  ArousalMean
arousal      1.000000     0.107511
ArousalMean  0.107511     1.000000
              arousal  ArousalMean
arousal      1.000000     0.111838
ArousalMean  0.111838     1.000000



Kobiety
              arousal  ArousalMean
arousal      1.000000     0.108352
ArousalMean  0.108352     1.000000
              arousal  ArousalMean
arousal      1.000000     0.120078
ArousalMean  0.120078     1.000000

### Analiza wyników korelacji
Później